
.colorMenu2{
    color: white;
    background-color: #203c6c;
    
}
.marginMenu{
    margin-right: 20%;
}
.tamanoImagen{
    width: 1cm;
    height: 1cm;
}
.logoEducacion{
    width: 300px;
    height: 66.61px;
}
.logoTnm{
    width: 170px;
    height: 103px;
}
.logoITT{
    width: 62px;
    height: 60.55px;
}

.espacioImagens{
width: 1571px;
height: 200px;
}
.espcaioMenu1{
width: 1242.2 px;
height: 20 px;
}
.navbar-brand{
    width: auto;
    font-size: 20px;
}

