.tamanoImagen{
  width: 1cm;
  height: 1cm;
}
.logoEducacion{
  width: 826px;
  height: 90px;
}
.logoTnm{
  width: 170px;
  height: 90px;
}
.logoITT{
  width: 62px;
  height: 60.55px;
}
.logoITT1{
  width: 62px;
  height: 60.55px;
}